/* id가 slides 인 컨테이의 속성값을 변경. */
#slides {
	width: 1000px;
	height: 300px;
	margin: 0 auto; /* 앞으로 제일 많이 쓸 가운데 정렬 */
	padding: 0;
}
/* slides 컨테이너 내부의 li 태그들을 숨김 처리 */
#slides li {
	display: none;
}
/* block을 li 리스트 중 첫번째 자식에게 적용. 수평공간을 모두 차지.  */
#slides li:first-child {
	display: block;
}
/* 이미지의 사이즈를 조절. */
#slides li img {
	width: 1000px;
	height: 350p;
}
/* 텍스트 가운데 정렬. */
#btn_slides {
	text-align: center;
}

/* 커서 모양과 투명도를 변경.
내부 HTML 파일 상 위치는 btn_slides 컨테이너 > a 태그 > off라는 단어가 있는 클래스
커서의 모양은 기본값. 투명도는 0.5니까 50% . */
#btn_slides a.off {
	cursor: default;
	opacity: 0.5;
}
/* id가 contents 인 컨테이너의 높이(세로길이) 를 변경. */
#contents {
	height: 500px;
}

/* notice 클래스의 속성값을 변경.
float 이라는 속성은 주로 원하는 위치에 요소를 배치할 때 쓰이며
자주 쓰는 기능은 요소 주변으로 텍스트나 인라인 요소가 흘러갈 때 쓰임.
여기서는 notice 클래스에 있는 모든 요소는 왼쪽에 위치해 있다. */
.notice {
	width: 480px;
	margin-top: 20px;
	float: left;
}
/* notice 클래스 내부에 h2 태그의 속성값을 조절.
h2 태그를 쓴것으로 보아 제목 태그로 쓰임. 가운데 정렬도 했고
태그 아래 Line 도 추가 되었다. */
.notice h2 {
	color: #666666;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #666;
}
/* 테이블 클래스의 속성값을 변경.
    border 속성중에 collapse 는 기본값이 seperate (선이 개별적으로 보임).
    여기서 collapse로 변경한 이유는 테두리를 하나의 선으로 보이기 위함.*/
.table {
	border-collapse: collapse;
	font-size: 0.9em;
	color: #666666;
	width: 430px;
}

/* 테이블 클래스의 tr태그 안에 th 태그의 패딩값을 변경. */
.table tr > th {
	padding-top: 10px;
}
/* 테이블 클래스의 tr 태그 안에 td 태그의 패딩값을 변경 */
.table tr > td {
	padding-top: 5px;
	padding: 5px;
}

/* 테이블 클래스의 tr 태그 짝수번째 친구들의 배경색을 변경. */
.table tr:nth-child(2n) {
	background-color: #d1b59d;
}

/* 파트너 클래스의 속성을 변경.
	오른쪽으로 배치. */
.partner {
	margin-top: 20px;
	float: right;
	width: 480px;
}
/* 파트너 클래스 내부에 제목태그인 h2 속성을 변경. */
.partner h2 {
	color: #666666;
	text-align: center;
}
/* partner_info의 클래스 속성값을 변경 */
.partner_info {
	margin-top: 10px;
	padding-left: 20%;
}
/* partner_info 내부에 img 태그의 첫번째 자식의 속성값을 변경. */
.partner_info img:nth-child(1) {
	width: 60%;
	cursor: pointer;
}

/* partner_info 내부에 img 태그의 두번째 자식의 속성값을 변경. */
.partner_info img:nth-child(2) {
	width: 50%;
	cursor: pointer;
}

/* 팝업창을 만들기위해 div 태그 안에 id 가 modal 이라는 컨테이너의 속성값을 변경
	position 값은 fixed로 팝업창이 열렸을 경우에도 viewport 에 자리를 고정시킴.
	z-index 의 값을 1로 주어 다른 요소들의 기본값인 0 보다 커
	현재 요소가 제일 위로 올라옴.*/

#modal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
	display: none;
	opacity: 0;
}
/* 위의 내용에 이어 그 안에 있는 body 클래스의 속성값을 변경.
transtorm 속성에서 -50% ,-50%로 설정하면 modal 내용의 중심을 뷰포트 중심으로 맞춤 */
#modal .body {
	padding: 20px;
	position: fixed;
	left: 50%;
	top: -20%;
	opacity: 0;
	transform: translate(-50%, -50%);
	background: white;
}
