@charset "utf-8";
/* CSS Document */
/* Part 3 (3번) */

/* id가 modal인 요소가 활성화 상태일 경우에 스타일을 적용한다.*/
#modal.active {
	display: block; /* 모달 요소를 화면에 표시한다. */
	opacity: 1; /* 불투명도를 최대로 적용한다. */
}
#modal.active .body {
	/* 활성화된 모달 요소의 하위에 있는 .body 클래스에 스타일을 적용한다. */
	top: 30%; /* 모달의 내용을 화면 상단의 30% 위치에 배치한다. */
	opacity: 1; /* 불투명도를 최대로 적용한다. */
}
#modal .body img {
	/* 모달 내용(.body 클래스 하위)에 있는 이미지에 스타일을 적용한다. */
	display: block; /* 이미지를 블록 요소로 표시한다. */
	margin-bottom: 20px; /* 아래쪽 바깥 여백을 20픽셀로 설정 */
}
#modal .body .button {
	/* 모달 내용(.body 클래스 하위)에 있는 .button 클래스에 스타일을 적용한다. */
	margin-top: 20px; /* 위쪽 바깥 여백을 20픽셀로 설정 */
	text-align: center; /* 버튼 내용을 가운데 정렬한다. */
}
#modal .body .button button {
	/* 모달 내용(.body 클래스 하위)에 있는 button 요소에 스타일을 적용한다. */
	padding: 6px 12px; /* 내부 여백을 상하 6픽셀, 좌우 12픽셀로 설정 */
	border: none; /* 버튼의 테두리를 없앤다. */
	border-radius: 6px; /* 버튼 모서리를 둥글게 만든다. */
	color: white; /* 폰트 색을 흰색으로 한다. */
	background-color: #996699; /* 버튼의 색을 설정한다. */
}
/* .icon 클래스에 스타일을 적용한다. */
.icon {
	margin-top: 20px; /* 위쪽 바깥 여백을 20픽셀로 설정한다. */
}
/* .icons 클래스에 스타일을 적용한다. */
.icons {
	text-align: center; /* icons의 내용을 가운데 정렬한다. */
}
/* .btn 클래스에 스타일을 적용한다. */
.btn {
	width: 160px; /* 요소의 너비를 160픽셀로 설정한다. */
	margin: 20px; /* 요소의 바깥 여백을 상하좌우 20픽셀로 설정한다.. */
	display: inline-block; /* 해당 클래스를 인라인 블록 요소로 표시한다. */
}
