/* part04 */

/* .btn 클래스 아래에 있는 button에 hover(마우스를 갖다 댈 때)의 스타일을 정의함 */
.btn > button:hover {
	background-color: #939; /* 배경색을 (#939)으로 변경 */
}

/* .btn 클래스 아래에 있는 button의 기본 스타일을 정의함 */
.btn button {
	padding: 10px; /* 내부 여백을 10px로 설정 */
	background-color: #cc9999; /* 배경색을 (#cc9999)으로 설정 */
	color: #fff; /* 글자색을 (#FFF)으로 설정 */
	border: none; /* 테두리 없음 */
	border-radius: 10px; /* 10px 반지름을 갖는 테두리를 생성하여 버튼을 둥글게 만들기 */
	font-size: 20px; /* 글자 크기를 20px로 설정 */
}

/* footer(하단 고정)의 스타일을 정의 */
footer {
	height: 150px; /* 높이를 150px로 설정 */
	width: 1000px; /* 너비를 1000px로 설정 */
	background-color: #969; /* 배경색을 (#969)으로 설정 */
	max-width: 100%; /* 최대 너비를 부모 요소에 맞게 설정 */
	color: #ffffff; /* 글자색을 (#FFFFFF)으로 설정 */
	overflow: hidden; /* overflow 내용을 숨김 */
	margin-top: 30px; /* 위쪽 여백을 30px로 설정 */
}

/* footer 안에 있는 .wrap(전체 레이아웃) 클래스의 스타일을 정의 */
footer .wrap {
	padding: 10px 20px; /* 내부 여백을 위아래 10px, 좌우 20px로 설정 */
}

/* footer 안에 있는 ul(순서가 없는 리스트)의 스타일을 정의 */
footer ul {
	width: 50%; /* 너비를 50%로 설정 */
	float: left; /* 왼쪽으로 float 시킴 */
}

/* footer 안에 있는 ul의 하위 li의 스타일을 정의*/
footer ul > li {
	float: left; /* 왼쪽으로 float 시킴 */
	margin-left: 20px; /* 왼쪽 여백을 20px로 설정 */
	margin-top: 10px; /* 위쪽 여백을 10px로 설정 */
}

/* footer 안에 있는 p(문장)의 스타일을 정의 */
footer p {
	width: 50%; /* 너비를 50%로 설정 */
	font-size: 12px; /* 글자 크기를 12px로 설정 */
	float: right; /* 오른쪽으로 float 시킴 */
	color: #ffffff; /* 글자색을 (#ffffff)으로 설정 */
	margin-top: 10px; /* 위쪽 여백을 10px로 설정 */
}
